.upl_img {
	height: 175px;
}

.bCircle {
	margin: 55px auto;
	width: 350px;
	height: 350px;
	border-radius: 50%;
	top: 178px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #e5e5e5;
	box-shadow: -6px -6px 15px #ffffff, 6px 6px 15px rgba(0, 0, 0, 0.25);
}

.fCircle {
	border-radius: 50%;
	border: rgba(255, 255, 255, 0.75) solid 23px;
	width: 250px;
	height: 250px;
	filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.05));
	display: flex;
	align-items: center;
	justify-content: center;
}

.fill_img {
	object-fit: cover;
	border-radius: 100%;
	height: 75%;
	width: 75%;
}
