label input {
	height: 0;
	width: 0;
	opacity: 0;
}

.ubutton {
	display: block;
	border: none;
	outline: none;
	width: 220px;
	padding: 15px;
	margin: auto;
	background: #ffe4f3;
	box-shadow: -3px -3px 10px #ffffff, 4px 4px 10px rgba(255, 61, 169, 0.3);
	border-radius: 100px;
	cursor: pointer;
}

p {
	font-size: 28px;
	font-weight: bolder;
	color: #ff4689;
	margin: 0;
}
